{{#if resume.skills.length}}
<section id="skills">
    <h2><i class="fa fa-cogs left"></i> SKILLS</h2>
    <div class="skills-container">
        {{#each resume.skills}}
        <div class="skill-category">
            <h4>{{name}}</h4>
            <div class="keywords-list">
                {{#each keywords}}
                <span class="keyword">{{.}}</span>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
</section>
{{/if}}